.scene
  .objects
    .square
    .circle
    .triangle
  .wizard
    .body
    .right-arm
      .right-hand
    .left-arm
      .left-hand
    .head
      .beard
      .face
        .adds
      .hat
        .hat-of-the-hat
        .four-point-star(class="--first")
        .four-point-star(class="--second")
        .four-point-star(class="--third")
  
.progress
